.clients-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 59px;

  .clients-wrap__content {
    //Client reviews
    .clients-wrap__content-reviews {
      margin-bottom: 38px;

      .clients-slide {

        .clients-slide__item {
          display: flex;
          flex-direction: row;
          position: relative;

          .clients-slide__item-content {
            display: flex;
            flex-direction: column;

            @media (max-width: 767px) {
              display: flex;
              align-items: center;
            }

            .clients-title {
              font-family: Roboto;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              color: #78CD13;
              margin-bottom: 7px;
            }

            .clients-subtitle {
              font-family: Roboto;
              font-weight: 300;
              font-size: 14px;
              line-height: 16px;
              color: #545555;
              margin-bottom: 9px;
            }

            .clients-text {
              font-family: Roboto;
              font-weight: 300;
              font-size: 13px;
              line-height: 26px;
              color: #9F9D9D;
              text-align: justify;
            }
          }
        }
      }
    }
    //Client partners
    .clients-wrap__content-partners {

      .partners-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          height: 100px;
          border-right: 1px solid #78CD13;
          right: -17px;
          top: 0;
          
          @media (max-width: 767px) {
            display: none;
          }
        }
      }

      .partners-item_trait {

        &:after {
          border: none;
        }
      }
    }
  }
}

.partners-item__content {
  &:not(:hover) {
    fill: #CCCCCC;
    * {
      fill: #CCCCCC;
    }
  }
}

.clients-wrap-title {
  margin-bottom: 78px;
}

.clients-slide__item-img {
  max-width: 200px;
  max-height: 210px;
  width: 100%;
  height: auto;
  border-radius: 50%;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}
//Controls for slider reviews
.client-controls {
  position: absolute;
  top: 0;
  display: flex;
  right: 0;

  @media (max-width: 767px) {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.clients-controls__slider {

  &:hover {
    text-decoration: none;
  }
}

.clients-controls__slider-prev {
  margin-right: 30px;
}

.clients-controls__slider-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #78CD13;
  font-size: 26px;
  line-height: 16px;
  border: 1px solid #78CD13;
}
