.header {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #78CD13;

  .header__logo {
    display: flex;
    align-items: center;

    .header__logo-img {
      width: 29px;
      height: 29px;
      margin-right: 9px;
    }

    .header__logo-text {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      letter-spacing: 0.73px;
      font-size: 32px;
      line-height: 42px;
      color: #78CD13;
      margin-top: 7px;
    }

    &:hover {
      text-decoration: none;
    }
  }
  .search-item__mobile {
    display: none;
  }
  .header-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;

    .header__menu-wrap {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      .header__menu {
        margin-top: 4px;

        .header__menu-item {
          margin-left: 7px;

          &.active {
            .header__menu-link {
              color: #78CD13;
              position: relative;
              &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -19px;
                left: 9px;
                right: 8px;
                border-bottom: 4px solid #78CD13;
              }
            }
          }

          .header__menu-link {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #595651;

            &:hover {
              color: #78CD13;
              position: relative;

              &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -19px;
                left: 9px;
                right: 8px;
                border-bottom: 4px solid #78CD13;
              }
            }
          }
        }
      }

      .btn_sign {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #78CD13;
        border: none;
        position: relative;
        padding: 8px;
        top: 2px;
        left: 2px;
        margin-left: 10px;

        &:focus {
          box-shadow: none;
        }

        &:hover, &.active {
          color: #78CD13;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          position: relative;
          background: transparent;

          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -19px;
            left: 8px;
            right: 8px;
            border-bottom: 4px solid #78CD13;
          }
        }
      }
    }
  }
}
//Button
.header-wrap__toogler {
  display: none;

  &:focus {
    outline: none;
  }

  &.open {
    background: #78CD13;
    & span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 10px;
        left: 10px;
        background: #FFFFFF;
      }
      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 29px;
        left: 10px;
        background: #FFFFFF;
      }
    }
  }
  & span {
    display: block;
    position: absolute;
    height: 2px;
    width: 27px;;
    background: #78CD13;
    border-radius: 2px;
    left: 6px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    &:nth-child(1) {
      top: 10px;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 19px;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 28px;
      transform-origin: left center;
    }
  }
}
@media (max-width: 991px) {
  //Mobile navigation button
  .header-wrap__toogler {
    width: 40px;
    height: 40px;
    border: 1px solid #78CD13;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFFFF;
    transform: rotate(0deg);
    position: relative;
    cursor: pointer;
    z-index: 9999;
    display: block;
  }
  .header {
    .search-item__mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      right: 75px;
      background: #FFFFFF;
      border: 1px solid #78CD13;
      border-radius: 5px;
      transition: background-color .7s;

      &:hover, &.active {
        background-color: #78CD13;
        .search-item__icon {
          color: #FFFFFF;
        }
      }
      .search-item__icon {
        color: #78CD13;
        font-size: 16px;
        padding: 10px;
        margin-left: 0;
      }
    }
  }

  //Menu
  .header-menu {

    bottom: 0;
    right: -100%;
    z-index: 1100;
    margin: 0;
    overflow: auto;
    position: fixed;
    transition: right .7s ease-out .7s;
    top: 75px;

    &.open {
      right: 0;
      display: flex;
      justify-content: flex-end;
    }
  }
  //Navigation menu content
  .header {
    .header-menu {
      background: rgba(174, 255, 197, 1);
      border-left: 1px solid #78CD13;

      .header__menu-wrap {
        background: #FFFFFF;
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(174, 255, 197, 1);

        .header__menu {
          width: 100%;
          border-top: none;
          margin-top: 0;
          order: 0;

          .header__menu-item {
            margin-left: 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid #78CD13;
            &.active {
              .header__menu-link {
                background-color: #f5f5f5;
                &:after {
                  display: none;
                }
              }
            }

            .header__menu-link {
              padding: 20px 20px 20px 40px;
              width: 100%;

              &:hover {
                background-color: #f5f5f5;
                &:after {
                  display: none;
                }
              }
            }
          }
        }

        .search-item {
          display: none;
        }
        .btn_sign {
          margin-left: 0;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-bottom: 1px solid #78CD13;
          padding: 20px 20px 20px 40px;
          width: 100%;
          border-radius: 0;
          top: 0;
          left: 0;
          order: 1;
          &:hover, &.active {
            background-color: #f5f5f5;
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  //Navigation menu content
  .header {
    .header-menu {
      width: 100%;
      border-left: none;
      .header__menu-wrap {
        width: 100%;
      }
    }
  }
}
//search

.search-item {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 10px 0;

  &:hover, &.active {
    cursor: pointer;

    .search-item__icon {
      color: #78CD13;
      position: relative;
      background-color: transparent;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -25px;
        left: 0;
        right: 0;
        border-bottom: 4px solid #78CD13;
      }
    }
  }
}
.search-item__content {
  display: none;
  position: fixed;
  width: 610px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 30px;
  padding: 0 15px;
  cursor: default;
  border-bottom: 1px solid #78CD13;
  border-right: 1px solid #78CD13;
  border-left: 1px solid #78CD13;
  border-radius: 20px;
  z-index: 999;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #595651;
  @media (max-width: 610px) {
    width: 100%;
  }
  &.open {
    cursor: pointer;
    display: block;
  }

  .search-item__content-form {
    display: flex;
    align-items: center;

    .search-item__form-input {
      width: 100%;
      background: #fff;
      padding: 0 11px;
      border: 1px solid #78CD13;
      color: #595651;
      margin: 14px 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      &:focus {
        outline: none;
      }
    }
    .search-item__form-btn {
      display: block;
      background: #78CD13;
      border: none;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
      right: 0;
      top: 14px;
      width: 30px;
      &:focus {
        outline: none;
        color: #78CD13;
        background: #fff;
        border: 1px solid #78CD13;
        border-left: none;
        border-right: none;
        padding: 0 6px;
      }
    }
    .search-item__form-cancel {
      display: block;
      background: #e71f1f;
      border: none;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
      right: 0;
      top: 14px;
      width: 30px;
      &:focus {
        outline: none;
        color: #e71f1f;
        background: #fff;
        border: 1px solid #e71f1f;
        padding: 0 6px;
      }
    }
  }
}
.search-item__icon {
  font-size: 12px;
  line-height: 12px;
  color: #595651;
  border: none;
  padding: 4px;
  margin-left: 10px;

  &:focus {
    box-shadow: none;
  }
}
.search-item__form-input::placeholder {
  color: #9d9b97;
}
//Sing In
.sing-wrap {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.8);
  opacity: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  transition: background-color .5s,opacity .5s;

  &.open {
    display: block;
  }

  .sing-wrap__content {
    position: relative;
    top: 7%;
    z-index: 1002;
    margin: auto;
    max-width: 390px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    font-family: 'Roboto', sans-serif;
    @media (max-width: 425px) {
      top: 0;
      max-width: 100%;
      height: 100%;
    }
  }
}
.sing-content__close {
  position: absolute;
  right: 12px;
  top: 12px;
  height: 32px;
  width: 32px;
  background: #fff;
  border: none;
  font-size: 20px;
  color: #78CD13;

  &:focus {
    outline: none;
    color: #9ce742;
  }
}
.sing-content__form {
  margin: 0;
  padding: 0;

  .sing-content__form__content {
    padding: 35px 30px 45px;
    background-color: #fff;
  }
}
.sing-content__title {
  width: 100%;
  color: #222;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 20px;
}
.sing-content__subtitle {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 25px;
}
.sing-form__login {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 2px;
  }

  .sing-form__login-input {
    float: right;
    display: block;
    border: none;
    width: 100%;
    background: rgba(120, 205, 19, 0.15);
    color: #222;
    font-size: 14px;
    font-weight: 700;
    padding: 28px 20px 10px;
    position: absolute;
    z-index: 1;

    &:not([value=""]) {
      ~.sing-form__login-border {
        width: 100%;
      }
      ~.sing-form__login-text {
        .sing-login__text {
          font-size: 11px;
          transform: translateY(-10px);
        }
      }
    }

    &:focus {
      outline: none;

      ~.sing-form__login-text {
        .sing-login__text {
          font-size: 11px;
          transform: translateY(-10px);
        }
      }

      ~.sing-form__login-border {
        width: 100%;
      }
    }
  }
  .sing-form__login-text {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    width: 100%;
    background: #e8e8e8;
    text-align: left;
    margin-bottom: 0;
    .sing-login__text {
      position: relative;
      display: block;
      -webkit-transition: all .5s;
      transition: all .5s;
      opacity: .7;
      color: #222;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      padding: 19px 20px 21px;
    }
  }
  .sing-form__login-border {
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #78CD13;
    transition: width .5s ;
    -webkit-transition: width .5s ;
  }
}
.sing-form__reminder {
  margin-bottom: 25px;
  text-align: right;
  .sing-form__reminder-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #78CD13;
    opacity: 0.7;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;

    &:hover {
      opacity: 1;
    }
  }
}
.sing-form__btn {
  border: none;
  color: #fff;
  background-color: #78CD13;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  text-align: center;
  line-height: 20px;
  font-size: 19px;
  padding: 20px 0;
  cursor: pointer;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 25px;
  transition: background-color .5s;

  &:hover {
    background-color: #5a9d0b;
  }
  &:focus {
    outline: none;
  }
}
.sing-form__social {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;

  .sing-form__social-title {
    display: block;
    margin-bottom: 8px;
    color: #222;
    font-size: 12px;
    line-height: 20px;
  }
  .sing-form__social-content {
    display: flex;
    justify-content: center;
    .sing-form__social-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #acacac;
      color: #FFFFFF;
      text-decoration: none;
      margin-right: 20px;
      font-size: 20px;
      transition: background-color .7s;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        &:nth-child(1) {
          background-color: #3c5a99;
        }

        &:nth-child(2) {
          background-color: #1da1f2;
        }

        &:nth-child(3) {
          background-color: #dc4e41;

        }

        &:nth-child(4) {
          background-color: #4d75a3;
        }
      }
    }
  }
}
.sing-form__register {
  .sing-form__register-title {
    color: #222;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  .sing-form__register-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.28px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #78CD13;
    transition: color .7s;

    &:hover {
      color: #488004;
    }
  }
}