.container-map {
  min-height: 572px;
  position: relative;
  display: flex;
  align-items: center;
}

.map-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-item {
  background: #FFFFFF;
}

.form-item__title {
  font-weight: bold;
  font-size: 16.65px;
  line-height: 19px;
  padding-top: 25px;
  margin-bottom: 50px;
}

.form-item__content {
  padding-left: 23px;
  padding-right: 25px;
  padding-bottom: 54px;

  .form-item__content-data {
    margin-bottom: 33px;
    border: 1px solid #9F9D9D;
    border-radius: 0;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14.8px;
    line-height: 18px;

    &:focus {
      box-shadow: none;
    }
  }

  .form-item__content-text {
    margin-bottom: 55px;
    resize: none;
  }

  .form-item__content-send {
    width: 100%;
    color: #78CD13;
    border: 1px solid #78CD13;
    border-radius: 0px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16.65px;
    line-height: 19px;
    padding-top: 13px;
    padding-bottom: 13px;

    &:focus {
      box-shadow: none;
    }

    &:hover, &:active {
      color: #FFFFFF;
      background-color: #78CD13;
    }
  }
}