.portfolio-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.portfolio-title {
  margin-bottom: 34px;
}
.portfolio-wrap__title {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
  padding-right: 10px;
  margin-bottom: 38px;
}
//Navigation Menu
.portfolio-wrap__content {

  .content-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
    border: none;

    .content-nav__item {
      margin-right: 17px;

      @media (max-width: 655px) {
        margin-bottom: 10px;
      }

      &:last-of-type {
        margin-right: 0px;
      }

      .content-nav__item-text {
        font-family: Roboto;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #777777;
        border: 1px solid #CCCCCC;
        border-radius: 0px;
        padding: 8px 8px 8px 8px;

        &:hover {
          color: #78CD13;
          border: 1px solid #78CD13;
        }

        &:active, &.active {
          background-color: #78CD13;
          color: #FFFFFF;
        }
      }
    }
  }
}
//---Slider---
.slider-portfolio {
  width: 100%;
  margin-bottom: 30px;
  .slick-list {
    margin: 0 0 30px 0;
    @media (max-width: 480px) {
      margin: 0 0 50px 0;
    }
  }
}
.portfolio-wrap__content {
  width: 100%;
}
//Slide block content
.portfolio-slide__content {
  width: 262px;
  border: 1px solid #CCCCCC;
  border-bottom: 4px solid #CCCCCC;
  margin-left: 14px;
  margin-right: 14px;

  &:focus {
    outline: none;
  }

  .portfolio-slide__img {
    position: relative;

    .portfolio-slide__content-img {
      width: 100%;
    }
    .portfolio-slide__img-nav {
      display: none;

      .portfolio-slide__nav-item {
        color: #78CD13;
        background-color: #FFFFFF;
        font-size: 14px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 10px;

        &:hover {
          background-color: #E4E8E8;
          border: 1px solid #FFFFFF;
        }
      }
    }
  }

  &:hover {
    border: 1px solid #78CD13;
    border-bottom: 4px solid #78CD13;

    .portfolio-slide__img {
      .portfolio-slide__img-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(120, 205, 19, 0.4);

        .portfolio-slide__nav-item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
.portfolio-slide-text {
  padding-left: 16px;
  padding-right: 45px;

  .portfolio-slide-text__title {
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #545555;
    padding-top: 15px;
    margin-bottom: 4px;
  }

  .portfolio-slide__text-subtitle {
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #777777;
    margin-bottom: 12px;
  }

  .portfolio-slide__text-content {
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    color: #B3B3B3;
    padding-bottom: 9px;
    margin-bottom: 0;
  }
}
//Slide controls
.slider-controls {
  border: none;
  background: inherit;
  position: absolute;
  top: 40%;
  z-index: 999;

  .slider-controls__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9EED9A;
    font-size: 40px;

    @media (max-width: 1260px) {
      font-size: 30px;
    }
    @media (max-width: 740px) {
      font-size: 20px;
    }
  }
  &:focus {
    outline: none;
  }
  &:hover, &:active {
    text-decoration: none;
    border: none;

    .slider-controls__icon {
      color: #78CD13;
    }
  }
}
.slider-controls__prev {
  left: -50px;

  @media (max-width: 1260px) {
    left: -15px;
  }
  @media (max-width: 740px) {
    left: -10px;
  }
}
.slider-controls__next {
  right: -50px;

  @media (max-width: 1260px) {
    right: -15px;
  }
  @media (max-width: 740px) {
    right: -10px;
  }
}
//Slide indication
.slider-indication {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;

  li {
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 15px;
      height: 15px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 35%;
        background: #78CD13;
        opacity: 0.5;
      }
    }
  }
  .slick-active {
    button {
      &:before {
        opacity: 1;
      }
    }
  }
}

.active-show {

}