.services-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -23px;
}

.nav-tab__style {
  border: none;
  @media (max-width: 991px) {
    margin-bottom: 20px;
  }
}

.services-item {

  .services-item__header {
    padding-left: 0px;
    display: flex;
    align-items: center;
    border: none;
    margin-bottom: 25px;

    .services-item__header-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-left: 26px;
      color: $color-green;
      font-size: 20px;
      width: 20px;
      height: 22px;

      &:after {
        content: '';
        border: 2px solid #78CD13;
        display: block;
        position: absolute;
        width: 45px;
        height: 45px;
        transform: rotate(45deg);
      }
    }

    .services-item__header-title {
      font-family: Roboto;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #545555;
      margin-left: 37px;
    }

    &:hover, &:active, &.active {

      .services-item__header-icon {
        color: #FFFFFF;
        font-size: 20px;

        &:before{
          z-index: 1;
        }

        &:after {
          background-color: #78CD13;
        }
      }

      .services-item__header-title {
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #545555;
      }
    }
  }

  .services-item__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 51px;

    .services-item__content-text {
      font-family: Roboto;
      font-size: 13px;
      line-height: 26px;
      font-weight: 300;
      color: #777777;
      padding-left: 4px;
      text-align: justify;
    }

    .read-more {
      font-family: Roboto;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #78CD13;
      margin-right: 25px;

      .read-more__icon {
        margin-left: 10px;

      }
    }
  }
}
//Progress Bar
.services-progress {
  margin-left: 17px;
  padding-top: 61px;

  @media (max-width: 991px) {
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 60px;
  }

  .progress-bar-list {

    .progress-bar-list__item {
      margin-bottom: 40px;

      .progress-bar-list__item-text {
        font-family: Roboto;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #545555;
      }

      .progress {
        width: 100%;
        background: #F9F9F9;
        border: 1px solid #E4E8E8;
        border-radius: 11px;

        .progress-bar-blue {
          background: #76D3ED;
          border-radius: 11px;
        }

        .progress-bar-pink {
          background: #E48DC2;
          border-radius: 11px;
        }

        .progress-bar-green {
          background: #9EED9A;
          border-radius: 11px;
        }

        .progress-bar-orange {
          background: #F3C475;
          border-radius: 11px;
        }

        .progress-bar-emerald {
          background: #8BF0DA;
          border-radius: 11px;
        }
      }
    }
  }
}
