.container__slider {
  padding: 0;
}
.slider__item-img {
  width: 100%;
  @media (max-width: 1025px) {
    width: auto;
    height: 440px;
  }
}
.carousel-slider__wrap {
  position: relative;

  .slider__item {

    .slider__caption {
      bottom: 20%;
      @media (max-width: 1025px) {
        bottom: 33%;
      }

      .slider__caption_title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 0;
        padding-bottom: 14px;
        padding-right: 3px;

        @media (max-width: 1025px) {
          font-size: 20px;
        }
      }

      .slider__caption_subtitle {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 2px;

        @media (max-width: 1025px) {
          font-size: 12px;
        }
      }
    }
  }

  .btn-arrow, .btn-arrow_next {
    &:hover {
      .btn-arrow__icon {
        opacity: 1;
      }
    }
  }

  .btn-arrow_down {
    position: absolute;
    bottom: 35px;
    left: 50%;

    &:hover {
      .btn-arrow__icon {
        opacity: 1;
      }
    }
  }
}
.btn-arrow__icon {
  color: #FFFFFF;
  font-size: 50px;
  opacity: 0.5;
  @media (max-width: 1025px) {
    font-size: 30px;
  }
}