@import "variables";
@import "typography";
@import "components/texts";
@import "components/menu";
@import "components/header";
@import "components/footer";
@import "components/slider";
@import "components/services";
@import "components/portfolio";
@import "components/clients";
@import "components/facts";
@import "components/blog";
@import "components/maps";
@import "components/preloader";

body {
  margin: 0;
  &.body-overflow{
    overflow: hidden;
  }
  &.lock {
    overflow: hidden;
  }
  &.lock-sign {
    overflow: hidden;
  }
}
.container {
  max-width: 1176px;
  width: 100%;
}

.container__grey {
  background-color: #F9F9F9;
  padding-top: 39px;
}

.container__white {
  background-color: #FFFFFF;
  padding-top: 39px;
}
.container__menu {
  background-color: #FFFFFF;
}

.container__color {
  background-color: #4A4A4A;
}