.all__title {
  font-family: $font-family-accent;
  font-size: 18px;
  line-height: 21px;
  color: $color-black;
  position: relative;
  margin-bottom: 62px;
  display: inline-block;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -13px;
    width: 60px;
    left: 37%;
    border-bottom: 4px solid #78CD13;
  }
}